node_modules/ 
android/app/build/ 
ios/build/ 
dist/ 
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local Netlify folder
.netlify

# env files (server-side)
.env
.env.local
.env.*.local
.env.production